name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - main
permissions:
  contents: read
  packages: write
  
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/lakshaytrehan77/demo-ghcr:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/lakshaytrehan77/demo-ghcr:latest
